<launch>
<arg name="camera_rgb_topic" default="/head_camera/rgb/image_raw"/>
<node name="find_object_2d_node" pkg="find_object_2d" type="find_object_2d" output="screen">
<remap from="image" to="$(arg camera_rgb_topic)"/>
<param name="gui" value="true" type="bool"/>
<param name="objects_path" value="$(find my_object_recognition_pkg)/saved_pictures2d" type="str"/>
<param name="settings_path" value="~/.ros/find_object_2d.ini" type="str"/>
</node> 
</launch>

